body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Frutiger,
    PingFangSC, PingFangTC, "Microsoft YaHei", Helvatica Neue, Sans-serif;
}

#p5_loading {
  display: none;
}

.book-brand {
  font-weight: 700;
  // margin-bottom: $padding-16 * 2;
}

.book-menu {
  font-size: $font-size-12;
}

h1 a {
  font-weight: 700;
  color: black !important;
  padding: none !important;
}

// bookToc
@media screen and (min-width: $mobile-breakpoint) and (max-width: $container-max-width) {
  #TableOfContents {
    backdrop-filter: blur(5px);
  }
}

// Home
#homeCanvas {
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  width: 100%;
  height: 550px;
}

#homeCanvas .p5Canvas {
  border: none;
  box-shadow: none;
  outline: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  #homeCanvas {
    display: none;
    pointer-events: none;
  }
}

// Shortcode
.photo-shortcode {
  margin: 0 auto;
  padding: 0;
}

.video-shortcode {
  margin: $padding-8 0;
}

// Capstone

.references .csl-entry {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0.8rem !important;
}

.references .csl-entry br {
  display: none;
}