body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Frutiger, PingFangSC, PingFangTC, "Microsoft YaHei", Helvatica Neue, Sans-serif;
}

.book-brand {
  font-weight: 700;
  margin-bottom: $padding-16 * 2;
}

.book-menu {
  font-size: $font-size-12;
}
